<div>
  <p>Client Number: {{client.client_number}}</p>
  <p>Name: {{client.first_name}} {{client.last_name}}</p>
  <p>Tax ID: {{client.tax_id}}</p>
  <p>Phone Number: {{client.phone}}</p>
  <p>Email: {{client.email}}</p>
  <p>Address: {{client.address}}</p>
</div>

<form>
  <label>Client number;</label>
  <input type="text" value="{{client.client_number}}" id="client_number"/>
  <label>Account Number:</label>
<input type="text" id="account_number"/> 
<label>Account Type</label>
<input type="text" id="account_type"/>
<label>Ownership Type</label>
<input type="text" id="ownership_type"/>
<label>Account Balance</label>
<input type="text" id="account_balance"/> 
<button type="submit" id="addaccount">Submit</button>
</form>

{{#each accountData as |account| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <p>Account Number: {{account.account_number}}</p>
      <p>Account Type: {{account.type}}</p>
      <p>Ownership Type: {{account.ownership_type}}</p>
      <p>Beneficiary: {{account.has_beneficiary}}</p>
      <p>Account Balance: {{account.account_balance}}</p>
    </h2>
  </div>
{{/each}}
<script src="/js/add-account.js"></script>
