<div class="client-info">
  <p>Client Number: {{client.client_number}}</p>
  <p>Name: {{client.first_name}} {{client.last_name}}</p>
  <p>Tax ID: {{client.tax_id}}</p>
  <p>Phone Number: {{client.phone}}</p>
  <p>Email: {{client.email}}</p>
  <p>Address: {{client.address}}</p>
</div>

{{#each client.accounts as |account| }}
<div class="account-info">
  
      <p>Account Number: {{account.account_number}}</p>
      <p>Account Type: {{account.account_type}}</p>
      <p>Ownership Type: {{account.ownership_type}}</p>
      <p>Account Balance: {{account.account_balance}}</p>
    
  </div>
{{/each}}

<a class="add-account-btn" href="/addAccount">Create New Account</a>
